*{
  margin: 0;
  padding: 0;
}

html{
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

/* .app__top{
  margin-bottom: -150px;
} */

.app__top > h3{
  text-align: center;
  color: white;
}

.app__logo{
  height: 12vh;
}

.app__videos {
  position: relative;
  height: 90vh;
  background-color: white;
  width: 70vh;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for chrome, safari, opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.app__videos{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}